<!DOCTYPE html>
<html>
  <head>
    <title>Site Under Construction</title>
  </head>
  <body>
    <center>
      <h1>
        <img src="/static/spaces/construction.png">
        SITE UNDER CONSTRUCTION
        <img src="/static/spaces/construction.png">
      </h1>
      <p>
        Check back soon!
      </p>
    </center>
    <div id="spaces-injection">
      <a href="/api/spaces/edit" class="edit" title="Edit this page">Edit</a>
      <link rel="stylesheet" type="text/css" href="/static/spaces/spaces.css"/>
      <script type="text/javascript" src="/static/spaces/spaces.js" defer="true"></script>
      <meta name="path" content="index.html">
    </div>
  </body>
</html>
